<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <p>Welcome <h4><%=name%></h4>to User System</p>
    <p>You have been added a task on the system. You can login using the link provided below. Ignore the email if this does not apply to you: <h7><%=email%></h7></p>

    <a class="login-btn" href="http://localhost:3000/login">Click Here To Login</a>

</body>
</html>